.android-auto-content {
  color: color('light');
  padding: $layout--xl 0;
  @include breakpoint(md) {
    padding: $layout--2xl 0;
  }
}

.android-auto-dash {
  position: absolute;
  align-self: center;
  z-index: 0;
  width: 720px;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  @include elevate-2(color('dark'), 0.145);
  @include breakpoint(lg) {
    align-self: start;
  }
}
