.chat-bubbles-content {
  margin: $layout--xl 0;
  @include breakpoint(md) {
    margin: $layout--2xl 0;
  }
}

.chat-window {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 78px;

  &__container {
    position: relative;
    width: 224px;
    height: 248px;
    background-color: color('light');
    border-radius: 8px;
    overflow: hidden;
    @include elevate-2(color('dark'), 0.25);
    @include breakpoint(md) {
      width: 264px;
      height: 308px;
    }
  }

  &__header,
  &__footer {
    position: absolute;
    z-index: 1;
    width: inherit;
    height: 34px;
    @include breakpoint(md) {
      height: 40px;
    }
  }

  &__header {
    top: 0;
    left: 0;
  }

  &__footer {
    bottom: 0;
    left: 0;
  }

  &__messages {
    position: absolute;
    z-index: 0;
    top: 40px;
    width: inherit;
    height: 333px;
    @include breakpoint(md) {
      height: 393px;
    }
  }
}

.bubbles {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &__container {
    position: absolute;
    z-index: -1;
    width: 420px;
    height: 420px;
    border-radius: 100%;
  }

  &__bubble {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: color('red-accent');

    &--outline {
      border: 8px solid color('google-red');
      background-color: transparent;
    }
  }
}
