.spotlight {
  position: absolute;
  top: 98px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  z-index: -1;
  width: 420px;
  height: 420px;
  border-radius: 100%;
  background-color: color('google-green');

  @include breakpoint(sm) {
    width: 480px;
    height: 480px;
  }
  @include breakpoint(md) {
    width: 568px;
    height: 568px;
  }
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-product {
  position: relative;
  margin-top: $layout--lg;
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  @include breakpoint(md) {
    margin-top: $layout--xl;
  }
  @include breakpoint(lg) {
    margin-top: $layout--2xl;
  }

  &__container {
    position: relative;
    width: 280px;
    height: 545px;
    @include breakpoint(lg) {
      width: 380px;
      height: 645px;
    }
  }

  &-back {
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 0;
    left: -65px;
    top: 50%;
    transform: translateY(-50%);
  }
  &-group {
    position: relative;
    width: 100%;
    height: 100%;
    &__front {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -65px;
      width: 100%;
      height: auto;
    }
    &__shadow {
      position: absolute;
      width: auto;
      height: 100%;
      opacity: 0.45;
    }
  }
}

.product-features {
  position: relative;
  z-index: 3;
  max-width: $max-screen-size;
  height: 480px;
  transform: translateY(20%);
  margin-top: $layout--2xl;
  margin-bottom: $layout--lg;
  @include breakpoint(sm) {
    height: 667px;
  }

  .feature-screen {
    position: absolute;
    top: 0;
  }
}

.fs-1 {
  left: -120px;
  @include breakpoint(md) {
    left: 0;
  }
}

.fs-2 {
  right: -120px;
  @include breakpoint(md) {
    right: 0;
  }
}

.fs-3 {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
