.android-hero {
  padding-top: $layout--2xl;
}

.spotlight {
  position: absolute;
  top: 48px;
  margin: auto;
  z-index: -1;
  width: 420px;
  height: 420px;
  border-radius: 100%;
  background-color: color('google-green');
  @include breakpoint(md) {
    top: 78px;
    width: 568px;
    height: 568px;
  }
}

.hero-device {
  position: relative;
  margin-top: $layout--lg;
  width: 100%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoint(md) {
    margin-top: $layout--xl;
  }
  @include breakpoint(lg) {
    margin-top: $layout--2xl;
  }

  &__container {
    position: relative;
    width: 320px;
    height: 420px;
    @include breakpoint(md) {
      width: 460px;
      height: 592px;
    }
    @include breakpoint(lg) {
      width: 560px;
      height: 703px;
    }
  }

  &-back,
  &-front {
    position: absolute;
    width: 227px;
    height: 420px;
    @include breakpoint(md) {
      width: 320px;
      height: 592px;
    }
    @include breakpoint(lg) {
      width: 380px;
      height: 703px;
    }
  }
  &-front {
    right: 0;
  }
}

.android-features {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: $spacing--2xl;
  &__container {
    position: relative;
    display: inline-flex;
    align-items: center;
  }
}
.android-feature {
  position: relative;
  flex-shrink: 0;
  width: 180px;
  height: 391px;
  margin: 0 $spacing--sm;
  border-radius: 24px;
  overflow: hidden;
  @include breakpoint(md) {
    width: 240px;
    height: 520px;
  }
  @include breakpoint(lg) {
    width: 280px;
    height: 607px;
  }
  @include elevate-3(color('dark'), 0.125);
}

.android-feature--2 {
  z-index: 2;
}

.android-feature--1,
.android-feature--3 {
  top: 48px;
  z-index: 1;
}
