.outro-content {
  padding: $layout--xl 0;
  @include breakpoint(md) {
    padding: $layout--2xl 0;
  }
}

.more-info-content {
  position: relative;
  z-index: 3;
  background-color: color('google-blue');
  border-radius: 2rem;
  padding: $layout--md;
  margin-bottom: $layout--lg;
  color: color('light');
  @include elevate-3(color('google-blue'), 0.175);
  @include breakpoint(md) {
    padding: $layout--lg;
  }
  .title--large {
    margin-top: 0;
  }
}

.accordion-content p {
  display: flex;
  flex-direction: column;
  @include breakpoint(md) {
    flex-direction: row;
  }
  strong {
    flex-shrink: 0;
    flex-basis: 40%;
  }
}
