.security-content {
  padding: $layout--xl 0;
  padding-bottom: $spacing--lg;
  @include breakpoint(md) {
    padding: $layout--2xl 0;
    padding-bottom: $spacing--xl;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: color('light');

  .section-content ~ .feature-screen {
    margin-top: $layout--sm;
    @include breakpoint(md) {
      margin-top: $layout--md;
    }
  }
}
