.helpful-content {
  position: relative;
  width: 100%;
  .section-title {
    max-width: 80%;
  }
}

.smart-panel {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  // margin: $layout--xl 0;
}

.smart-screen {
  display: block;
  position: relative;
  width: 100%;
  background-color: color('light');
  //overflow: hidden;
  // width: calc(50% - #{$spacing--md});
  padding: $layout--xl;
}

.screen {
  position: relative;
  width: 292px;
  margin: $layout--lg;
  margin-left: auto;
  margin-right: auto;
  //transform: translateY(-100%);
}
