.voice-control {
  position: relative;
  width: 100%;
  height: 568px;
  display: flex;
  align-items: flex-end;
  @include breakpoint(md) {
    align-items: center;
    height: 900px;
  }

  &__content {
    position: relative;
    z-index: 3;
    width: 100%;
    bottom: 0;
    padding: $spacing--xl;
    margin-bottom: $layout--sm;
    border-radius: 1rem;
    @include frosted-glass(color('light'), 0.45);
    @include breakpoint(md) {
      width: 50%;
      margin-bottom: 0;
    }
  }
}

.vc-feature-image {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 768px;
  overflow: hidden;
  background: url('../assets/voice-control.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 50%;
  @include breakpoint(md) {
    height: 1024px;
  }
}
