.container {
  position: relative;
  width: 100%;
  max-width: $max-screen-size;
  margin: auto;
  @include container-padding;
}

.container--sm {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  @include container-padding;
}

.section {
  position: relative;
  width: 100%;
  &--overflow {
    overflow: hidden;
  }
  &--2 {
    background-color: color('section-2');
  }
  &--3 {
    background-color: color('light');
  }

  &-title {
    font-size: $large--title;
    font-weight: font-weight('bold');
    margin: 0;
    margin-bottom: $layout--sm;
    @include breakpoint(md) {
      font-size: $huge--title;
    }

    &--hero {
      @include breakpoint(lg) {
        font-size: $huge--title * 1.25;
      }
    }
  }

  &-subtitle {
    font-size: $title--3;
    font-weight: font-weight('bold');
    margin: 0;
    margin-bottom: $spacing--lg;
    @include breakpoint(md) {
      font-size: $title--2;
    }
  }

  &-overline {
    font-size: $body--2;
    font-weight: font-weight('medium');
    @include breakpoint(md) {
      font-size: $body--1;
    }
    @include breakpoint(lg) {
      font-size: $subtitle;
    }
  }

  &-body {
    font-size: $body--1;
    @include breakpoint(md) {
      font-size: $subtitle;
    }
  }
}

.content-hero {
  position: relative;
  width: 100%;
  padding-top: $spacing--3xl;
  margin-top: $layout--xl;
  @include breakpoint(md) {
    margin-top: $layout--2xl;
  }
  &__body {
    position: relative;
    max-width: 768px;
    margin: auto;
    margin-bottom: $layout--lg;
    @include breakpoint(md) {
      margin-bottom: $layout--xl;
    }
  }
}

.product-hero {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-width: 220px;
  max-width: 360px;
  height: 568px;
  @include breakpoint(sm) {
    height: 768px;
  }
}

.pixel-phone {
  position: relative;
  width: 100%;
  height: 100%;
  // &__frame {
  //   position: relative;
  //   z-index: 1;
  // }
  // &-screen {
  //   position: absolute;
  //   z-index: 0;
  //   top: 24px;
  //   left:50%;
  //   transform: translateX(-50%);
  // }
  &__back,
  &__group {
    position: absolute;
    top: 0;
  }

  &__back {
    z-index: 0;
    left: -40px;
    @include breakpoint(sm) {
      left: -100px;
    }
  }

  &__group {
    width: 100%;
    height: 100%;
    left: -55px;
    @include breakpoint(sm) {
      left: 0;
    }

    &-shadow,
    &-front {
      position: absolute;
    }
    &-shadow {
      z-index: 1;
      left: 44px;
      top: -60px;
      transform: scale(0.8);
      opacity: 0.75;
      @include breakpoint(sm) {
        left: 0;
        top: -110px;
      }
    }
    &-front {
      top: 0;
      left: 98px;
      z-index: 2;
    }
  }
}

#product-spotlight {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 320px;
  height: 320px;
  border-radius: 100%;
  background-color: color('primary');

  @include breakpoint(sm) {
    width: 480px;
    height: 480px;
  }
  @include breakpoint(md) {
    width: 568px;
    height: 568px;
  }
}

.products-container {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 868px;
  height: 480px;
  transform: translateY(20%);
  margin-top: $layout--2xl;
  margin-bottom: $layout--lg;
  @include breakpoint(sm) {
    height: 667px;
  }
}

#pixel5-2,
#pixel5-3,
#pixel5-4 {
  position: absolute;
  width: 50%;
  min-width: 220px;
  max-width: 280px;
  height: auto;
}

#pixel5-2 {
  top: 0;
  left: -120px;
  @include breakpoint(md) {
    left: 0;
  }
}

#pixel5-3 {
  top: 0;
  right: -120px;
  @include breakpoint(md) {
    right: 0;
  }
}

#pixel5-4 {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.version-title {
  position: absolute;
  z-index: -1;
  text-align: center;
  top: -10%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: font-weight('bold');
  opacity: 0.25;
  font-size: 388px;
  letter-spacing: -88px;
  @include breakpoint(md) {
    font-size: 688px;
  }
}

.content-highlights {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: $layout--2xl auto;
  &-cards {
    position: relative;
    margin-top: $layout--lg;
    width: 100%;
    max-width: 576px;
    @include breakpoint(sm) {
      max-width: 768px;
    }
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.highlight-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: color('light');
  padding: $spacing--lg;
  border-radius: $border-radius;
  flex-shrink: 0;
  width: calc(50% - #{$spacing--sm});
  height: calc(100vw / 2.5);
  max-height: calc(998px / 4);
  margin: $spacing--sm 0;

  @include breakpoint(md) {
    padding: $spacing--xl;
    margin: $spacing--md 0;
    width: calc(33.33% - #{$spacing--md});
    height: calc(100vw / 3.5);
  }
  @include elevate-3(color('dark'), 0.035);

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: opacity 0.4s ease;
    opacity: 0;
    @include elevate-5(color('dark'), 0.065);
  }

  &:hover,
  &:focus {
    &:before {
      opacity: 1;
    }
  }
  &-title {
    font-weight: font-weight('medium');
    margin: 0;
    font-size: $body--1;
    @include breakpoint(sm) {
      font-size: $subtitle--2;
    }
  }
  &__header {
    position: relative;
    width: 100%;
    flex-grow: 1;
  }

  &__footer {
    position: relative;
    width: 100%;
  }
  &__icon {
    height: icon-size('md');
    width: icon-size('md');
    @include breakpoint(sm) {
      height: icon-size('lg');
      width: icon-size('lg');
    }
  }
}

.grid-2cols {
  position: relative;
  margin-top: $layout--2xl;
  margin-bottom: $layout--2xl;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  @include breakpoint(lg) {
    flex-direction: row;
  }
  &__col {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    margin-bottom: $layout--xl;
    @include breakpoint(lg) {
      width: calc(50% - #{$spacing--md});
    }
  }

  &__col--order-1 {
    order: -1;
    @include breakpoint(lg) {
      order: 0;
    }
  }
}

.conversations-phone {
  position: relative;
  display: block;
  width: 60%;
  max-width: 296px;
  margin: auto;
  z-index: 1;
}

.chat-1,
.chat-2 {
  position: absolute;
  top: 88px;
  left: -28px;
  width: 64px;
  height: 64px;
}

.chat-2 {
  z-index: 1;
}

.chat-1 {
  z-index: 0;
  top: 94px;
  transform: translateY(88px);
}

.conversations-notification {
  position: absolute;
  z-index: 2;
  opacity: 0;
  top: 46%;
  left: 50%;
  transform: translateX(-50%) translateY(-46%) scale(0.75);
  width: 70%;
  max-width: 350px;
}

.conversations-bubbles {
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.conversations-bubble {
  position: absolute;
  flex-shrink: 0;
  width: 320px;
  height: 120px;
  border-radius: 100px;
  background-color: color('section-1');
  transform: scale(0.85);
  @include breakpoint(md) {
    width: 468px;
    height: 200px;
  }

  &--outline {
    border: 14px solid color('section-1');
    background-color: transparent;
    @include breakpoint(md) {
      border: 16px solid color('section-1');
    }
  }
}

.chat-bubbles {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: translateX(-300px);
  @include breakpoint(md) {
    transform: translateX(-400px);
  }

  &__bubble {
    position: relative;
    height: 300px;
    width: 300px;
    flex-shrink: 0;
    border-radius: 100%;
    background-color: color('section-2');
    @include breakpoint(md) {
      height: 400px;
      width: 400px;
    }

    &--outline {
      border: 14px solid color('section-2');
      background-color: transparent;
      @include breakpoint(md) {
        border: 16px solid color('section-2');
      }
    }
  }
}

.capture-card {
  position: relative;
  width: 100%;
  &__hero {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 320px;
    background-color: color('primary');
    margin-bottom: $spacing--3xl;
    overflow: hidden;
    @include breakpoint(lg) {
      height: 420px;
    }
  }
}

.record-screen {
  position: relative;
  transform: translateY(168px);
  width: 100%;
  max-width: 60%;
}

.record-modal {
  position: absolute;
  top: 38px;
  transform: translateY(128px);
  opacity: 0;
}

.capture-pixel5 {
  position: relative;
  transform: translateY(128px);
  width: 100%;
  max-width: 60%;
}

.capture-slide {
  position: relative;
  width: 100%;
  max-width: 1024px !important;
  margin: auto;
  margin-top: $layout--lg;
  .splide__arrows {
    position: relative;
    margin-top: $layout--xs;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include container-padding;
    @include breakpoint(md) {
      display: none;
    }
  }
  .splide__arrow {
    @include button-reset;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 90px;
    padding: $spacing--xs;
    overflow: hidden;
    & ~ .splide__arrow {
      margin-left: $spacing--sm;
    }
  }
  @include breakpoint(md) {
    @include container-padding;
    .splide__list {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .splide__slide {
      width: calc(50% - #{$spacing--md});
    }
  }
}
