.container {
  position: relative;
  width: 100%;
  @include container-padding;
}

.section {
  position: relative;
  width: 100%;
  &--overflow {
    overflow: hidden;
  }
}

.content-hero {
  position: relative;
  width: 100%;
  padding-top: $spacing--3xl;
  margin-top: $margin--xl;
  @include breakpoint(md) {
    margin-top: $margin--2xl;
  }
  &__body {
    position: relative;
    max-width: 768px;
    margin: auto;
    margin-bottom: $margin--lg;
    @include breakpoint(md) {
      margin-bottom: $margin--xl;
    }
    .hero-title {
      font-size: $title--1;
      font-weight: font-weight('bold');
      margin-bottom: $margin--xs;
      @include breakpoint(md) {
        font-size: $large--title;
        margin-bottom: $margin--sm;
      }
      @include breakpoint(lg) {
        font-size: $huge--title;
      }
    }
    .hero-overline {
      font-size: $body--2;
      font-weight: font-weight('medium');
      @include breakpoint(md) {
        font-size: $body--1;
      }
      @include breakpoint(lg) {
        font-size: $subtitle;
      }
    }
    .hero-body {
      font-size: $body--1;
      @include breakpoint(md) {
        font-size: $subtitle;
      }
    }
  }
}

.product-hero {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-width: 220px;
  max-width: 280px;
  height: auto;
  margin-bottom: $margin--xl;
}

#product-spotlight {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 320px;
  height: 320px;
  border-radius: 100%;
  background-color: color('brand');

  @include breakpoint(sm) {
    width: 480px;
    height: 480px;
  }
  @include breakpoint(md) {
    width: 568px;
    height: 568px;
  }
}

.products-container {
  position: relative;
  z-index: 3;
  width: 100%;
  padding-bottom: $spacing--4xl;
  height: 1440px;
  margin-top: $margin--3xl;
}

#pixel5-2,
#pixel5-3,
#pixel5-4 {
  position: absolute;
  width: 50%;
  min-width: 220px;
  max-width: 280px;
  height: auto;
}

#pixel5-2 {
  top: 0;
  left: -120px;
  @include breakpoint(md) {
    left: 120px;
  }
}

#pixel5-3 {
  top: 0;
  right: -120px;
  @include breakpoint(md) {
    right: 120px;
  }
}

#pixel5-4 {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.version-title {
  position: absolute;
  z-index: -1;
  text-align: center;
  top: -10%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: font-weight('bold');
  opacity: 0.25;
  font-size: 388px;
  letter-spacing: -88px;
  @include breakpoint(md) {
    font-size: 688px;
  }
}
