/* Typography styles */
p {
  font-size: $body--2;
  margin-bottom: $spacing--lg;
  @include breakpoint(md) {
    font-size: $body--1;
    margin-bottom: $spacing--xl;
  }
}

h1,
h2,
h3,
h4,
form legend {
  line-height: $heading-line-height;
  font-weight: inherit;
  margin: $spacing--xl 0 $spacing--sm;
}

// Android typography
.title--large {
  font-weight: font-weight('bold');
  font-size: $title--3;
  line-height: 1.25;
  @include breakpoint(md) {
    font-size: $title--2;
  }
  @include breakpoint(lg) {
    font-size: $title--1;
  }
  & ~ p {
    margin-top: $spacing--lg;
    @include breakpoint(md) {
      margin-top: $spacing--xl;
    }
  }
}

.title--display {
  font-weight: font-weight('bold');
  font-size: $title--1;
  line-height: 1.25;
  @include breakpoint(md) {
    font-size: $large--title;
  }
  @include breakpoint(lg) {
    font-size: $huge--title;
  }
  & ~ p {
    margin-top: $spacing--xl;
    @include breakpoint(md) {
      margin-top: $spacing--2xl;
    }
  }
}

.title--overline {
  font-weight: font-weight('medium');
  font-size: $body--1;
  line-height: 1.25;
  white-space: nowrap;
  @include breakpoint(md) {
    font-size: $subtitle;
  }
  & ~ h1,
  h2 {
    margin-top: $spacing--2xs;
  }
}

.title--muted {
  color: color('slate');
}

.body--large {
  font-size: $body--1;
  margin-bottom: 0;
  @include breakpoint(md) {
    font-size: $subtitle;
  }
  & ~ p {
    margin-top: $spacing--sm;
    margin-bottom: 0;
    @include breakpoint(md) {
      margin-top: $spacing--md;
    }
  }
}

h1,
.title--1 {
  font-size: $title--2;
  margin-top: 0;
  @include breakpoint(md) {
    font-size: $title--1;
  }
}

h2,
.title--2 {
  font-size: $title--3;
  @include breakpoint(md) {
    font-size: $title--2;
  }
}

h3,
.title--3 {
  font-size: $subtitle--2;
  @include breakpoint(md) {
    font-size: $title--3;
  }
}

h4,
.subtitle--2 {
  font-size: $subtitle;
  @include breakpoint(md) {
    font-size: $subtitle--2;
  }
}

.subtitle {
  font-size: $body--1;
  @include breakpoint(md) {
    font-size: $subtitle;
  }
}

.body--1 {
  font-size: $body--2;
  @include breakpoint(md) {
    font-size: $body--1;
  }
}

.body--2 {
  font-size: $body--2;
}

.overline,
.caption,
small {
  font-size: $overline;
}

.legal {
  font-size: $legal;
}

b,
strong {
  font-weight: 500;
}
